:root {
    --whisper: "Whisper", sans-serif;
}

.contacts-title {
	font-family: var(--whisper);
	font-size: 64px;
	text-align: center;
	display: flex;
	flex-direction: row;
}

.contacts-title:before, .contacts-title:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin-bottom: 25px;
}
.contacts-title:before {
  margin-right: 10px
}
.contacts-title:after {
  margin-left: 10px
}

.contacts-icons {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	padding: 50px;
}

.contacts-icon {
	height: 100px;
	width: auto;
}